.footer {
    background-color:rgb(19, 45, 65);
    font-family: merriweather;
    color: white;
}
.footer h4{
    color:aqua;
}
.col1{
    text-align: justify;
    margin-left: 190px;
}
.lines{
    width: 80%;
    margin: 12px 0;
}
.icon-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}



.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width:500px){
    .content {
      flex-direction: column;
    }
    .col{
        text-align: center;
    }
}



