body,html{
    height: 100%;
    width:100%;
}
.bg{
    background-image: url(../../public/parliament.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.heading{
    padding-top: 170px;
    text-align: left;
    padding-left: 91px;
    font-size: 80px;
    color: white;
}
.quote{
    text-align: left;
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
}
.about{
    background-color: #fff;
}
.about_heading{
    font-size: 40px;
    padding: 90px;
    padding-bottom: 10px;
}
.about_main{
    font-size: 30px;
    padding: 20px;
    padding-top: 0px;
}