/* Navbar.css */
dl,ol,ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 25px;
    position: relative; /* Make the navbar a positioning context */
  }
  
  ul.navbar li {
    margin: 0 10px;
  }
  
  ul.navbar li a {
    text-decoration: none;
    color: #333; /* Customize the link color */
  }
  
  /* Create the blue portion on the left */
  ul.navbar::before {
    content: "";
    background-color: #1C2158; /* Customize the background color */
    background-image: url(../../public/logo.png);
    background-size: cover;
    height: 100%;
    width: 20%; /* Adjust the width as needed */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  